
<!-- <input type="text" (input)="onTypeText($event)"> -->

<input type="text" [(ngModel)]="typedVal">
<p>{{ typedVal }}</p>

<button class="btn btn-primary" 
  [disabled]="disabledServer" 
  (click)="onServerCreate()">Add Server</button>

<!-- <p>{{ createServerStatus }}</p> -->

<p *ngIf="status; else noServer">Server is created & server name is server name is {{ typedVal }}</p>

<ng-template #noServer>
  <p>
    No Server created
  </p>
</ng-template>
<p>
  Server ID is {{ serverId }} && Server Status is {{ getStatus() }}
</p>
<app-server *ngFor="let server of servers"></app-server>
